# fly.toml app configuration file for chuk-mcp-math-server
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'chuk-mcp-math-server'
primary_region = 'lhr'

[build]

[env]
  PYTHONDONTWRITEBYTECODE = '1'
  PYTHONUNBUFFERED = '1'

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '512mb'
  cpu_kind = 'shared'
  cpus = 1
